h1 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    color: #111;
    font-weight: lighter;
  } 

.boardList {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin:auto;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-auto-rows: 40px;
  gap: 0px 0px;
  grid-template-areas:
  ". . . . . . . ."
  ". . . . . . . ."
  ". . . . . . . ."
  ". . . . . . . ."
  ". . . . . . . ."
  ". . . . . . . ."
  ". . . . . . . ."
  ". . . . . . . .";

  justify-content: center;
  padding: 10px;
}