.boardList {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin:auto;

}

.searchers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin:auto;
}